/*

!.bash_aliases
!.bash_logout
!.bashrc
!.gitignore
!.hushlogin
!.inputrc
!.pam_environment
!.profile
!.tmux.conf
!install
!LICENSE
!README.md

!/.config/
/.config/*
!/.config/bat/
!/.config/git/
!/.gf/
!/.vim/
/.vim/pack
